<div data-spy="scroll" data-target="#navbar-example2">
        <div class="jumbotron">
            <div class="container">
        <h2 id="Plan1">1. 309 Postpaid plan - 1GB data - 30 days</h2>
        <hr><br>
        <h2 id="Plan2">2. 399 Postpaid plan - 1.4GB data - 30 days</h2>
        <hr><br>
        <h2 id="Plan3">3. 424 Postpaid plan - 1.5GB data - 30 days</h2>
        <hr><br>
        <h2 id="Plan4">4. 450 Postpaid plan - 1.7GB data - 30 days</h2>
        <hr><br>
        <h2 id="Plan5">5. 500 Postpaid plan - 2GB data - 30 days</h2>
        <hr>
    </div>
        </div>
    </div>
    
