<br><br><br><br>
 <div class="col-md-12">
         <div style="float: right">
 <button type="button" class="btn btn-success" routerLink='/wallet'>BACK</button>
</div>
</div>
<div class="jumbotron" style="background-color: lightgoldenrodyellow">
        <div class="container-fluid">
                <div class="panel panel-default">
                        <div class="panel-heading"><h2>17/02/2019</h2></div>
                        <div class="panel-body"><h2>Rs. 80 has been transferred to your Voizfonica account XXXXXXXXXX. Total Balance :Rs.700</h2></div>
                </div>
                <div class="panel panel-default">
                        <div class="panel-heading"><h2>27/03/2019</h2></div>
                        <div class="panel-body"><h2>Rs. 90 has been transferred to your Voizfonica account XXXXXXXXXX.. Total Balance :Rs.170</h2></div>
                </div>
        </div>
    </div>
    
    