<div class="container">
    <div class="col-md-10">
        <h2 style="text-align: center"><b></b></h2>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-success" routerLink='/profile'><h4>BACK</h4></button>
    </div>
</div>
<br>
<div class="container-fluid" style="background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(133,255,247,1)), color-stop(100%, rgba(0,128,128,1)));">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2 style="text-align: center">Have any Questions?</h2>
            <br><br>
            <h3 style="text-align: center"><i>You can ask below or enter what you are looking for..</i></h3>
            <br><br>
        </div>
        <div class="col-md-2"></div>
    </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-5">
                    <div class="form-group">
                            <input class="form-control input-lg" id="inputlg" type="text" placeholder="Type your queries here">
                          </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <br><br>
    </div>
