<div class="jumbotron" style="background-color: lightgoldenrodyellow">
        <div class="container-fluid">
                <div class="form-group">
                        <div style="float: right">
                        <button type="button" class="btn btn-success" routerLink='/wallet'>BACK</button>
                        </div>
                        <br><br>
                        <label for="usr"><h2>Enter amount:</h2></label>
                        <input type="text" class="form-control" id="usr">
                      </div>
        </div>
        <br><br><br><br>
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-info"><h2>&#x20B9;100&nbsp;&nbsp;&nbsp;&nbsp;</h2></button>
            </div>
            <div class="col-md-4">
                    <button type="button" class="btn btn-info"><h2>&#x20B9;200&nbsp;&nbsp;&nbsp;&nbsp;</h2></button>
            </div>
            <div class="col-md-4">
                    <button type="button" class="btn btn-info"><h2>&#x20B9;500&nbsp;&nbsp;&nbsp;&nbsp;</h2></button>
            </div>
        </div>
        <br><br><br><br>
        <div class="row">
            <div class="col-md-5">
                
            </div>
            <div class="col-md-4">
                    <button type="button" class="btn btn-success"><h2 style="text-align: center">Proceed</h2></button>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    
    