<div data-spy="scroll" data-target="#navbar-example2">
    <div class="jumbotron">
        <div class="container">
    <h2 id="Plan1">1. 100MB Combo 2G Data pack - 1 day - Rs.9</h2>
    <hr><br>
    <h2 id="Plan2">2. 200MB Combo 2G Data pack - 1 day - Rs.19</h2>
    <hr><br>
    <h2 id="Plan3">3. 300MB Combo 2G Data pack - 1 day - Rs.29</h2>
    <hr><br>
    <h2 id="Plan4">4. 400MB Combo 2G Data pack - 1 day - Rs.39</h2>
    <hr><br>
    <h2 id="Plan5">5. 500MB Combo 2G Data pack - 1 day - Rs.49</h2>
    <hr>
</div>
    </div>
</div>

