<div class="jumbotron" style="background-color: lightgoldenrodyellow">
        <div class="container-fluid">
            <br><br>
            <div style="float: right">
                    <button type="button" class="btn btn-success" routerLink='/wallet'>BACK</button>
                    </div>
                <h2>Select payment methods:</h2>
                <input type="radio" name="age" value="nb"><h2>Wallet</h2>
  <input type="radio" name="age" value="cc"><h2>Others</h2><br>
                <h2>Select your bank:</h2>
                <br>
                <select>
                    <option value="I"><h2>ICICI</h2></option>
                    <option value="H"><h2>HDFC</h2></option>
                    <option value="IN"><h2>INDIAN</h2></option>
                </select>
                <br><br>
                
                <div class="btn-group">
                    <button type="button" class="btn btn-success"><h2>Pay Now</h2></button>
                    <button type="button" class="btn btn-default"><h2>Cancel</h2></button>
                  </div>
        </div>
    </div>
    
    
