<div data-spy="scroll" data-target="#navbar-example2">
        <div class="jumbotron">
            <div class="container">
        <h2 id="Plan1">1. 3G/4G Data pack 500MB - Rs.175 - 28 days</h2>
        <hr><br>
        <h2 id="Plan2">2. 3G Data pack 400MB- Rs.48 - 28days</h2>
        <hr><br>
        <h2 id="Plan3">3. 3G/4G Data pack 250MB- Rs.92 - 7 days</h2>
        <hr><br>
        <h2 id="Plan4">4. 3G/4G Data pack 100MB- Rs.29 - 28 days</h2>
        <hr><br>
        <h2 id="Plan5">5. 3G/4G Data pack 150MB - Rs.39 - 28 days</h2>
        <hr>
    </div>
        </div>
    </div>
    
