<!--The content below is only a placeholder and can be replaced.-->
<ul class="nav nav-tabs" style="background-color: black;color:white">
		<li class="active"><a href="#" style="background-color:white; color:black">Guest User</a></li>
		<li><a href="#" style="background-color: black; color:white">About us</a></li>
	  </ul>
		  <div class="col-md-10">
	  <h1 style="text-align: center"><b>VoizFonica</b></h1>
	  </div>
	<div *ngIf='fun()'>
					<div class="col-md-2">
							<a routerLink='./login' class="btn btn-info btn-lg">
									<span class="glyphicon glyphicon-user"></span> LOGIN
								  </a>
			<!--  <button type="button" class="btn btn-success" style="float:right" routerLink="./login"><h2>LOGIN</h2></button>-->
		  </div><br><br>
		  <div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
				  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				  <li data-target="#myCarousel" data-slide-to="1"></li>
				  <li data-target="#myCarousel" data-slide-to="2"></li>

				</ol>
				<div class="carousel-inner">
						<div class="item active">
						  <img src="assets/images/moboff.jpg" alt="Los Angeles" width=1700px>
						</div>
					
						<div class="item" style="background-color: black">
						  <img src="assets/images/img2.jpg" alt="Chicago" width=1099px height=1500px>
						</div>
						<div class="item" style="background-color: black">
								<img src="assets/images/img3.jpg" alt="Chicago" width=1099px >
							  </div>
					
					  </div>
				
					</div>
			  
	<br>
     <div class="container">
		<div class="col-md-1">
			</div>
	<div class="col-md-4">
			<img src="assets/images/img6.jpg" width=500 height=300>

	</div>
	<div class="col-md-2">
		</div>
		<div class="col-md-4">
			<img src="assets/images/img4.png" width=500 height=300>
			</div>
			<div class="col-md-1">
				</div>
			</div>
			<br>
			<div style="background-color: darkslategray;color:white">
				<div class="col-md-1">
				</div>
				<div class="col-md-3">
					<h4><b>Address</b></h4>
					<h5>No.19,Hamster street,<br>
					Kilpauk,<br>
					Chennai-46.</h5>
				</div>
				<div class="col-md-1">
					</div>
				<div class="col-md-3">
					<h4>We Offer</h4>
                    <a href="#">Prepaid offers</a><br>
					<a href="#">Postpaid offers</a><br>
					<a href="#">Dongle services</a>
				</div>
				<div class="col-md-1">
					</div>
				<div class="col-md-3">
					<h4>Connect with us</h4>
					<span class="glyphicon glyphicon-envelope"></span>&nbsp;
					<span class="glyphicon glyphicon-earphone"></span>   
					<br>
					<br><br>
                </div><br><br><hr>

				<hr>
				<p style="text-align: center">&copy; Copyright reserved with Voizfonica</p>
			</div>
			
</div>
  <router-outlet></router-outlet>
  