<!--The content below is only a placeholder and can be replaced.-->
<br><br><br>
<div class="container">
<div style="float: right">
    <button type="button" class="btn btn-success" routerLink='/profile'>BACK</button>
    </div>
  </div>
  <div style="background-color: black; color:white;">
  <h2 class="text-center">TARIFFS</h2>
  </div>
  <div class="container">
    <div class="row">
    <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/assets/images/prepaidlogo.jpg" alt="Card image cap" height="190px">
    <div class="card-body">
      <h5 class="card-title">PREPAID TARIFF</h5>
      <p class="card-text">Get to know about latest unlimited packs and data packs.</p>
      <a routerLink="/prepaidtariff" class="btn btn-danger">Know More</a>
    </div>
  </div>
  </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/assets/images/postpaidlogo.png" alt="Card image cap" height="190px">
            <div class="card-body">
              <h5 class="card-title">POSTPAID TARIFF</h5>
              <p class="card-text">Get to know about latest offers and family packs.</p>
              <a routerLink="/postpaidtariff" class="btn btn-danger">Know More</a>
            </div>
          </div>
          
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/assets/images/donglelogo2.png" alt="Card image cap" height="190px">
            <div class="card-body">
              <h5 class="card-title">INTERNET TARIFF</h5>
              <p class="card-text">Get to know about latest broadband services.</p>
              <a routerLink="/internettariff" class="btn btn-danger">Know More</a>
            </div>
          </div> 
          
    </div>
  </div>
  </div>
  <div style="background-color: red;text-align:center"> <b> &copy;CopyRights Reserved 2009</b></div>