<!--The content below is only a placeholder and can be replaced.-->
        <div class="container">
            <div class="col-md-10">
                <h2 style="text-align: center"><b>WALLET</b></h2>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-success" routerLink='/profile'>BACK</button>
            </div>
        </div>
      
        
      
      <div class="container">
        <div class="row">
        <marquee><h2>Hi, Username</h2></marquee>
      </div>
      </div>
      <br><br>
      <div class="container-fluid" style="background-color: lightblue">
          <ul class="nav nav-tabs">
              <li><a routerLink="/currentbalance"><h2>Current Balance</h2></a></li>
              <li><a routerLink="/transactionhistory"><h2>Transaction History</h2></a></li>
              <li><a routerLink="/addmoneywallet"><h2>Add Money to Wallet</h2></a></li>
              <!---li><a routerLink="/moneytransfer"><h2>Money Transfer</h2></a></li>-->
              <li><a routerLink="/paybills"><h2>Pay Bills</h2></a></li>
            </ul>
      </div>
      <router-outlet></router-outlet>
      