<nav id="navbar-example2" class="navbar navbar-light bg-danger">
        <a class="navbar-brand" href="#"><b>PREPAID</b></a>
        <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  LOCATION
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Chennai</a>
                  <a class="dropdown-item" href="#">Delhi</a>
                  <a class="dropdown-item" href="#">Bangalore</a>
                </div>
              </div>
      </nav>
      <div data-spy="scroll" data-target="#navbar-example2">
        <div class="container">
        <h4 id="Plan1">Plan1</h4>
        <p>...</p>
        <h4 id="Plan2">Plan2</h4>
        <p>...</p>
        <h4 id="Plan3">Plan3</h4>
        <p>...</p>
        <h4 id="Plan4">Plan4</h4>
        <p>...</p>
        <h4 id="Plan5">Plan5</h4>
        <p>...</p>
    </div>
      </div>