<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron" style="background-color: lightgoldenrodyellow">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              
            </div>
            <div class="col-md-4">
                <h2>VOIZFONICA OFFERS</h2>
            </div>
        </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-7">
        <h2 class="color-black fs-40 text-center">Check out our exclusive range of offers</h2></div>
        <div style="float: right">
            <button type="button" class="btn btn-success" routerLink='/profile'>BACK</button>
            </div>
      </div>
      </div>
      <br><br>
      <div class="jumbotron" style="background-color:lightgoldenrodyellow">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <img src="assets/images/prepaid.jpg" class="img-rounded" height="150px" width="200px">
            </div>
            <div class="col-md-5">
              <h4>A prepaid mobile device (also commonly referred to as pay-as-you-go (PAYG), pay-as-you-talk, pay and go, go-phone or prepay) is a mobile device such as a phone for which credit is purchased in advance of service use. The purchased credit is used to pay for telecommunications services at the point the service is accessed or consumed. If there is no credit, then access is denied by the cellular network/Intelligent Network. Users can top up their credit at any time using a variety of payment mechanisms. ("Pay-as-you-go", "PAYG", and similar terms are also used for other non-telecommunications services paid for by advance deposit.)</h4>
            </div>
            <div class="col-md-2">
      
            </div>
            <div class="col-md-2">
              <a routerLink="/prepaidoffers" class="btn btn-primary" style="float:center"><h3>BROWSE PLANS</h3></a>
            </div>
          </div>
        </div>
        <br><br>
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <img src="assets/images/postpaid.jpg" class="img-rounded" height="150px" width="200px">
            </div>
            <div class="col-md-5">
              <h4>The postpaid mobile phone is a mobile phone for which service is provided by a prior arrangement with a mobile network operator. The user in this situation is billed after the fact according to their use of mobile services at the end of each month. Typically, the customer's contract specifies a limit or "allowance" of minutes, text messages etc., and the customer will be billed at a flat rate for any usage equal to or less than that allowance. Any usage above that limit incurs extra charges. Theoretically, a user in this situation has no limit on use of mobile services and, as a consequence, unlimited credit. This service is better for people with a secured income.</h4>
            </div>
            <div class="col-md-2">
      
            </div>
            <div class="col-md-2">
              <a routerLink='/postpaidoffers' class="btn btn-primary" style="float:center"><h3>BROWSE PLANS</h3></a>
            </div>
          </div>
        </div>
        <br><br>
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <img src="assets/images/dongle.jpg" class="img-rounded" height="150px" width="200px">
            </div>
            <div class="col-md-5">
              <h4>A dongle is a small piece of computer hardware that connects to a port on another device to provide it with additional functionality, or enable a pass-through to such a device that adds functionality.</h4>
            </div>
            <div class="col-md-2">
      
            </div>
            <div class="col-md-2">
              <a routerLink='/dongleoffers' class="btn btn-primary" style="float:center"><h3>BROWSE PLANS</h3></a>
            </div>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
      
